[Unit]
Description=Switch wallpaper of user %i to most appropriate for time of day
After=network.target

[Service]
User=%i
ExecStart=/usr/bin/wallpaper auto %i

[Install]
WantedBy=multi-user.target
