[Unit]
Description=Switch wallpaper to most appropriate for time of day
After=network.target

[Service]
User=resin
ExecStart=/usr/local/sbin/wallpaper-daynight

[Install]
WantedBy=multi-user.target
